<!DOCTYPE html>
<html>
<head>
    <title>Salon Ekleme</title>
    <style>
        .btn {
            background-color: #4CAF50; /* Yeşil renk */
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

            .btn:hover {
                background-color: #45a049; /* Koyu yeşil renk */
            }
    </style>
</head>
<body>
    <h2>Salon Ekleme</h2>

    <form method="post" action="/Salonlar/Ekle">
        <label for="salonAdi">Salon Adı:</label>
        <input type="text" id="salonAdi" name="Ad" required>

        <label for="kapasite">Kapasite:</label>
        <input type="number" id="kapasite" name="Kapasite" required>

        <!-- Diğer gerekli alanlar -->

        <button type="submit" class="btn">Ekle</button>
    </form>
</body>
</html>
