@model ListSaloonPageVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="page-header">
    <h2>Salon Listesi</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Salon Yönetimi</span></li>

            <li><span>Salon Listesi</span></li>

        </ol>

    </div>
</header>

<!-- start: page -->
<section class="card">
    <header class="card-header">

        <h2 class="card-title">Salon Listesi</h2>
    </header>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <a id="addToTable" href="/Saloon/AddSaloon" class="btn btn-primary">Yeni Ekle <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-0" id="datatable-editable">
            <thead>
                <tr>
                    <th>Salon Numarası</th>
                    <th>Kapasite</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var saloonVM in Model.Saloons)
                {
                    <tr data-item-id="1">
                        <td>
                            @saloonVM.SaloonNumber
                        </td>
                        <td>
                            @saloonVM.Capacity
                        </td>
                        <td class="actions">
                            <a
                               href="/Saloon/UpdateSaloon/@saloonVM.ID" class="on-default edit-row">
                              
                            <i class="fas fa-pencil-alt"></i></a>
                            <a href="/Saloon/DeleteSaloon/@saloonVM.ID" class="on-default remove-row"
                                onclick="return confirm('Bu filmi sildiğinizde bağlı olan tüm seansları da silinecketir! </br>Bu filmi silmeks istediğinize emini misinniz ? ')">
                            <i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
