
@{
    ViewBag.Title = "AdminScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminScreen</h2>

<ul class="nav navbar-nav">

    <li><a href="/Film/ListFilms">Film Ekle</a></li>
  
</ul>