@model AddUpdateAdminUserPageVM
@{
    ViewBag.Title = "UpdateAppUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateAppUser", "AdminUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => x.AdminUser.ID)

    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                   Kullanıcı Güncelleme Sayfası
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2"> UserName</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AdminUser.UserName, new { @class = "form-control-genislik" })
                        </div>
                    </div>

                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">Password</label>
                        <div class="col-sm-10">
                            @Html.PasswordFor(x => x.AdminUser.Password, new { @class = "form-control", placeholder = "Şifre Belirleyiniz" })
                        </div>
                    </div>
                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">Roles</label>
                        <div class="col-sm-10">
                            <select name="combobox" multiple>
                                <option value="value1">Admin</option>
                                <option value="value2">BoxOfficeAttendant</option>
                                <option value="value3"> BoxOfficeSupervisor</option>
                                <option value="value2">DepartmanManager</option>
                                <option value="value3"> Member</option>
                                <option value="value3">VIP</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-group">
                            <label class="col-sm-2">İşlem:</label>
                            <div class="col-sm-10">
                                <button class="btn btn-primary">Güncelle</button>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
 }


