@model RegisterNowPageVM
@{
    ViewBag.Title = "LoginOk";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<div class="center-sign">
    <a href="/" class="logo float-start">
        <img src="https://finduniversity.net/wp-content/uploads/2022/10/giris-yap-ekran-gorseli.png" height="100" alt="Giriş Yap" />
    </a>
    @using (Html.BeginForm("LoginOK", "Register", FormMethod.Post))
    {
        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-end">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i> Giriş Yap</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-3">
                        <label>Name</label>
                        @*<input name="name" type="text" class="form-control form-control-lg" />*@
                        <i class="fas fa-user"></i>
                        @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control", placeholder = "Kullanıcı İsmi Giriniz" })
                    </div>
                    <div class="form-group mb-3">

                        <label>Password</label>
                        <i class="fas fa-unlock"></i>
                        @Html.PasswordFor(x => x.User.Password, new { @class = "form-control", placeholder = "Lütfen Şifrenizi Giriniz" })
                        @*<input name="pwd" type="password" class="form-control form-control-lg" />*@
                    </div>
                    <button type="submit" class="btn btn-gradient mt-2">Giriş Yap</button>
                    <p class="w3l-login-form">Giriş yapmak için kaydolmadınız mı?<a href="/Register/RegisterNow" class="register"> Kayıt Ol!</a></p>

                    <div class="row">
                    </div>
                    <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                        <span>welcome</span>
                    </span>
                </form>
            </div>
        </div>
    }

    <p class="text-center text-muted mt-3 mb-3">&copy; Cinema Otomation</p>
</div>