@model RegisterNowPageVM
@{
    ViewBag.Title = "LoginOk";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}



<div class=" w3l-login-form">
    <h2>Giriş Yap</h2>
    @using (Html.BeginForm("LoginOK", "Register", FormMethod.Post))
    {


        <div class=" w3l-form-group">

            <label>Kullanıcı Adı:</label>
            <div class="group">
                <i class="fas fa-user"></i>
                @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control", placeholder = "Kullanıcı İsmi Giriniz" })
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Şifre:</label>
            <div class="group">
                <i class="fas fa-unlock"></i>
                @Html.PasswordFor(x => x.User.Password, new { @class = "form-control", placeholder = "Lütfen Şifrenizi Giriniz" })
            </div>
        </div>




        <div class="forgot">
            <a href="#">Şifremi Unuttum?</a>
            <p><input type="checkbox">Beni Unutma</p>
        </div>
        <button type="submit">Giriş Yap</button>
        <p class="w3l-login-form">Yoksa Henüz kayıt olmadın mı<a href="/Register/RegisterNow" class="register"> Kayıt Ol</a></p>

    }
</div>