@model AddUpdateBoxOfficePageVM
@{
    ViewBag.Title = "AddBoxOffice";
}


<header class="page-header">
    <h2>Ofis Ekle</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Ofisler</span></li>

            <li><span>Ofis Ekle</span></li>

        </ol>

    </div>
</header>

<!-- start: page -->
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">Ofis Ekle</h2>
            </header>
            <div class="card-body">
                @using (Html.BeginForm("AddBoxOffice", "BoxOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <form class="form-horizontal form-bordered" method="post" action="/BoxOffice/AddBoxOffice">


                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2"
                                   for="inputDefault">Gişe Numarası</label>
                            <div class="col-lg-6">
                                @Html.TextBoxFor(x => x.BoxOffice.OfficeNumber, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group row pb-4">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <button type="submit" class="mb-1 mt-1 me-1 btn btn-primary">Ekle</button>
                            </div>
                        </div>

                    </form>
                }
            </div>
        </section>
    </div>
</div>
